html {
    font-family: 'Kufam', cursive;
}

#navigation{
    display: flex;
    height: 50px;
    background-color:lightgrey;
    align-items: center; /*położenie góra-dół*/
    justify-content: center;/*położenie loewo-prawo*/

    position:fixed;
    width: 100vw;
    box-sizing: border-box;
    top:0;
    padding:60px 10px;
    transition:.5s all;
}

#navigation ul {
    list-style: none;
    display: flex;
    margin: 0px;
   
    /*
    defoult->display: block: inline
    display: grid
    */
}

#navigation ul li a { 
  
    background-color: lightblue;
    border-radius:4pc;
    color: darkgrey;
    padding:10px;
    text-decoration:none ;
    transition:.5s all;
}

#navigation ul li a:hover { 
  
    background-color: darkgrey;
    color: lightslategray
        
}

/* <p class="paragraph"></p> => .paragraph */
/* <p id="paragraph"></p> => #paragraph */

/* #contactForm {
    color:red;
}
.contactForm {
    color:green;
} */

main {
    display: flex;
    justify-self: space-evenly;
    font-size:20px;
}

main:first-of-type{
    margin-top: 120px;
}

article {
    width: 20rem;
    border: 1px solid lightcoral;
    padding: 2rem 1rem;
}

.article2 {
    width: 100%;
     
}

#contactForm {
    display: flex;
    flex-direction: column;
}

#contactForm label {
width: 350px;
margin: 5px 0px;
}

.tooltip {
    position: relative;
}

.tooltip::before {
content : 'Start here and put Your data ';
position: absolute;
top: -18px;
background-color:lightgreen;
color: darkslateblue;
width: 200px;
text-align: center;
/* display: none; */
visibility: hidden;
}

.tooltip:hover::before{
    visibility: visible;
}

#radioButtonsContainer {
    display:flex;
}

[for=r1],[for=r2] {
    width: 90px !important;
}

input [type=submit]{
width: 80px;
margin-top:20px;
}

#footer {
    background-color: lightgrey;
    color: darkblue;
    height: 50px;
    display:flex;
    justify-self:center;
    align-items:center;
   
}

@media screen and (min-width: 360px) and (max-width: 600px){
img {
    width:360px;
}


article {
font-size:12px;
font-weight:400;
}
}